<nav>
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
            <div class="topnav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/postvideo" >Post Video</a></li>
                <li> <input id="search-text" class="search-text" type="text" placeholder="search">
                
                {{#if isLoggedIn}}
                 <li>
                    <button style="color: purple;" id="log-out" class="log-out">{{user.username}}</button>

                
                </li> 
                {{else}}
                 <li><a href="/login" >Login</a></li>

                {{/if}}
               
            </ul> 
            </div>
</nav>

{{log this}}