<!DOCTYPE html>
<html lang="en">
   <header>
        
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
        <script defer src="../js/index.js"></script>

   </header>
   
   <span id="counter-element" class="photo-counter" > </span>
    <main id="main-content" class="index-main">
        


    </main>
   






</html>