<span id="counter-element" class="photo-counter" > </span>
<main id="main-content" class="index-main">
    {{log this}}
{{#each results}}
    <div class="home-wholething">
        <a href="/posts/{{id}}">
        <img class="home-thumbnail" src="/{{thumbnail}}" alt="">
        </a>
        <div class="home-title">
        <h3>{{title}}</h3>
        </div>
       
    </div>
    {{/each}}

        
 </main>
