<!DOCTYPE html>
<html lang="en">
   <header>
        <h1 class="header-h1"> Csc 317 code Keyroguepuma</h1>
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
        <script defer src="../js/index.js"></script>

   </header>
   
   <span id="counter-element" class="photo-counter" >This is a test </span>
    <main id="main-content" class="index-main">
        


    </main>
   






</html>