<main>
    <body>
       
        <br>
        <h1 class="title">Register</h1><br>
        <div class="logform2">
            <form id="reg-form" onsubmit="validateForm(event)" action="/users/registration" method="post" enctype="application/x-www-form-urlencoded">
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username"  ><br>
                <span class="error" id="error-username"></span><br>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" required><br>
                <span class="error" id="error-email"></span><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" ><br>
                <span class="error" id="error-password"></span><br>
                <label for="password2">Confirm Password</label><br>
                <input type="password" id="password2" name="password2" ><br>
                <span class="error" id="error-password2"></span><br>
                <label for="checkage">Are you 13+ years of age</label>
                <input type="checkbox" name="checkage" id="checkage" required><br>
                <label for="checkTos"><a href="">TOS and Privacy Rules</a></label>
                <input type="checkbox" name="checkTos" id="checkTos" required><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
     </body>
</main>
