
  <main>
    <body>
      <div class="view-post">
         <div class="video">
          <p>This is where video going to go</p>
        </div>

         <div class="video-title">
          <h3>Title of the video</h3>
        </div>
        <div class="video-info">
          <h3>Adrian                   August something</h3> 
        </div>
        <form action="" class="comment">
          <label style="font-family: 'Press Start 2P';" for="comment">Comments</label>
          <input type="" id="comment" name="comment" class="comment-text">
        </form>

      </div>
       
    </body>
    </main>
