
  <main>
    <body>
        <div class="view-post">
            <h1 class="post-items">Post Title</h1><br>
            <h3 class="post-items">Author's name: </h3><br>
            <h3 class="post-items">Post Creation Time: </h3><br>
            <p>This is where the video is going to go</p>
            <video src="">This is where the video gonna go</video>
            <h1 class="post-items">Comments: </h1>
        </div>
    </body>
    </main>
