body {
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: black;
  height: 100%;

}
.header-h1{
  margin: 0;
  color: purple;
  padding: 0px;
  font-family: monospace;
  
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 10px;


}
li{
  float: left;
  font-family: monospace;
}


li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;


}
li a:hover{
  color: purple;
}


.logform{
  border: 20px solid darkgreen;
  width: 400px;
  height: 400px;
  font-size: 22px;
  text-align: center;
  padding: 40px;
  margin: auto;
  border-radius: 60px;


}
.title{
  text-align: center;
  color: white;
  font-family: 'Press Start 2P';
  font-weight: bolder;
}
input{
  border-color: purple;
  border-radius: 50px;
}
label{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: purple;
  
}
.logform2{
  border: 20px solid darkgreen;
  width: 450px;
  height: 550px;
  font-size: 22px;
  text-align: center;
  padding: 15px;
  margin: auto;

  border-radius: 60px;

}
.logform3{
  border: 20px solid darkgreen;
  width: 550px;
  height: 450px;
  font-size: 22px;
  text-align: center;
  padding: 40px;
  margin: auto;
  margin-top: 80px;

  

  border-radius: 60px;

}
.video-file{
  color: purple;
  margin-left: 100px;
}
p{
  color: purple;
  font-size: 15px;
}
input [type="description"]{
  display: inline;
}
.view-post{
  border: 20px none darkgreen;
  color: purple;
  width: 500px;
  height: 500x;
  font-size: 22px;
  text-align: left;
  padding: 10px;
  margin-right: 100px;

}
.post-items{
  font-size: 22px;
}

.welcome{
  border: 20px solid darkgreen;
  width: 300px;
  height: 300x;
  font-size: 22px;
  text-align: center;
  padding: 60px;
  margin: auto;
  color: white;
  border-radius: 60px;
}
footer{
  color: purple;
  text-align: center;
  bottom: 0;
  position: fixed;
  align-items: center;
}
.invalid-text{
  outline: red solid;
}
.valid-text{
  outline: green solid;
}
.error{
  font-size: 15px;
  margin-top: 5px;
  color: red;
}
.index-main{
  column-count: 4;
  column-gap: 20px;
  margin-top: 100px;
  margin-bottom: 30px;
  position: relative;
}
.photo{
  border: 5px solid purple;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
.photo-counter{
  color: red;
  position: absolute;
  top: 220px;
  font-size: 51px;
  
}
h1{
  color: purple;
}
.banner{
  font-size: 70px;
  font-family: 'Press Start 2P';
  color: purple;
  align-items: center;
  text-align: center;
  border: 20px lime;
  padding: 15px;
  background-color: black;
  border-bottom: 10px  purple;
  
}
.search-text{
  border: 1px solid;
  border-color: green;
  border-radius: 0px;
  font-size: 30px;
  font-family: 'Press Start 2P';
  padding: 10px 20px;
  margin-bottom: 0px;
  width: 820px;
  margin-bottom: 20px;
  margin-right: 50px;
  color: purple;
}
.log-out{
  background-color: black;
  border: solid  purple;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;

}
.custom-alert { 
  padding: 15px;
   border: 1px solid transparent; 
   border-radius: 4px; 
   margin-bottom: 20px; 
} 
.custom-alert.success 
{ background-color: #d4edda; 
  border-color: #c3e6cb; 
  color: #155724; 
} 

