body {
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: black;
  height: 100%;

}
.header-h1{
  margin: 0;
  color: purple;
  padding: 0px;
  font-family: monospace;
  
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green
}
li{
  float: left;
  font-family: monospace;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
li a:hover{
  color: purple;
}
.logform{
  border: 20px solid green;
  width: 300px;
  height: 300x;
  font-size: 22px;
  text-align: center;
  padding: 60px;
  margin: auto;
  color: white;
  border-radius: 60px;

}
.title{
  text-align: center;
  color: white;
  font-family: monospace;
  font-weight: bolder;
}
input{
  border-color: purple;
  border-radius: 50px;
}
label{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: purple;
  
}
.logform2{
  border: 20px solid green;
  width: 400px;
  height: 300px;
  font-size: 22px;
  text-align: center;
  padding: 60px;
  margin: auto;

  border-radius: 60px;

}
.logform3{
  border: 20px solid green;
  width: 500px;
  height: 450px;
  font-size: 22px;
  text-align: center;
  padding: 60px;
  margin: auto;
  margin-top: 100px;

  

  border-radius: 60px;

}
.video-file{
  color: purple;
  margin-left: 100px;
}
p{
  color: purple;
}
input [type="description"]{
  display: inline;
}
.view-post{
  border: 20px solid green;
  color: purple;
  width: 500px;
  height: 200x;
  font-size: 22px;
  text-align: left;
  padding: 10px;
  position: relative;

}
.post-items{
  font-size: 22px;
}
.actual-video{
  position: relative;
  color: purple;
  border: 20px solid green;
  width: 200px;
  height: 200px;
  margin-bottom: 500px;
}
.welcome{
  border: 20px solid green;
  width: 300px;
  height: 300x;
  font-size: 22px;
  text-align: center;
  padding: 60px;
  margin: auto;
  color: white;
  border-radius: 60px;
}
footer{
  color: purple;
  left: 0;
  bottom: 0;
}